# Ignore extracted video frames
data/frames/*
!data/frames/.gitkeep
data/videos/*
!data/videos/.gitkeep
data/yolo_frames/*
!data/yolo_frames/.gitkeep
uploads/*
!uploads/.gitkeep

# Ignore Generated Item List
src/refined_item_list.txt

# ----- Misc. -----
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VSCode settings
.vscode/
.vs/

# Mac system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Extraneous
detection_log.csv
box_contents.json
entry_log.json